*{
    padding: 0;
    margin: 0;
}
body,html{
    width: 100%;
    height: 100%;
}

#music-icon{
    z-index: 30;
    width: 16px;
    height: 16px;
    background: url("../imgs/bgmusic_icon.png") 0 0 no-repeat;
    border-radius: 50%;
    border: 1px solid #000;
    position: absolute;
    right: 5px;
    top: 5px;
    animation: rotateBgMusic 5s linear infinite;
}
#music-icon.closeState{
    background-position: -16px 0;
    animation: none;
}
.wrap{
    width: 100%;
    height: 100%;
    background: url("../imgs/bg.jpg") center center no-repeat;
    background-size: cover;
    max-width: 750px;
    margin: 0px auto;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#mainSwiper{
    display: none;
}
.swiper-container{
    width: 100%;
    height: 100%;
}
.page{
    position: relative;
    overflow: hidden;
}
.acs{
    position: absolute;
}
#title{
    left: 0.88rem;
    top: 0.8rem;
    width: 8.3rem;
}
#danmu{
    left: 9.9rem;
    width: 49.64rem;
    height: 1.44rem;
    top: 6rem;
}
#danmu.move{
    animation: danmuMove 15s linear infinite;
}
@keyframes danmuMove {
    100%{
        left: -49.64rem;
    }
}
.pos{
    width: 7.43rem;
    left: 0.9rem;
    top: 7.2rem;
}
#start{
    width: 4.03rem;
    left: 3rem;
    top: 14rem;
    display: none;
}
.page.question{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 0.2rem;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.question-box{
    width: 7.96rem;
    height: 15.5rem;
    background: url("../imgs/question/question_box.png") center center no-repeat;
    background-size: 100%;
    position: relative;
    /*margin-top: 0.5rem;*/
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.question-index{
    height: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border-bottom: 2px dashed grey;*/
}

.question-content{
    font-size: 0.5rem;
    padding: 0.5rem;
    font-weight: bold;
}
.answer-box{
    width: 100%;
    /*padding: 0 0.5rem;*/
    box-sizing: border-box;
    padding-left: 0.7rem;
    position: absolute;
    top: 8.9rem;
    list-style: none;
}
.answer-box .answer{
    box-sizing: border-box;
    width: 6.373rem;
    height: 1.187rem;
    margin-bottom: 0.25rem;
    border: 3px solid transparent;
    border-radius: 20px;
    font-size: 0.3rem;
    line-height: 1.2;
    padding:0 0.4rem 0 1.33rem;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
}
.answer-box .answer.selected{
    border: 3px solid rgb(245,195,35);
}
.answer-box .answer:nth-of-type(1){
    background: url("../imgs/question/a.png") center center no-repeat;
    background-size: cover;
}
.answer-box .answer:nth-of-type(2){
    background: url("../imgs/question/b.png") center center no-repeat;
    background-size: cover;
}
.answer-box .answer:nth-of-type(3){
    background: url("../imgs/question/c.png") center center no-repeat;
    background-size: cover;
}

.pic-box{
    position: absolute;
    width: 6.4rem;
    height: 3.84rem;
    background: url("../imgs/question/pic_box.png") center center no-repeat;
    background-size: cover;
    padding: 0 0.30667rem 0.30667rem 0;
    top: 4.453rem;
    left: 0.7rem;
}
.pic-box-inner{
    width: 100%;
    height: 100%;
    position: relative;
}
.pic-box-inner > img{
    position: absolute;
    top: -2px;
    /*left: -5px;*/
    width: 100%;
    height: 100%;
}
#play{
    position: absolute;
    width: 1.2rem;
    height: 1.2rem;
    right: 0.4rem;
    bottom: 0.4rem;
}
.pic-scroll{
    position: absolute;
    top: -2px;
    /*left: -5px;*/
    width: 100%;
    height: 100%;
}
.pic-scroll .swiper-slide img{
    width: 100%;
    height: 100%;
}
#restart,#link,#share{
    position: absolute;
    width: 2.8rem;
    top: 13.5rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
#restart{
    left: 0.69rem;
}
#link{
    left: 3.65rem;
}
#link_a{
    display: inline-block;
    position: absolute;
    width: 2.8rem;
    height: 1rem;
    top: 13.5rem;
    left: 3.65rem;
}
#share{
    left: 6.64rem;
}
#result{
    position: absolute;
    width: 9rem;
    left: 0.5rem;
    top: 0.2rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
.next-btn{
    position: absolute;
    width: 3.14667rem;
    height: 1.14667rem;
    left: 2.2rem;
    bottom: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
.modal{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: none;
}
.modal .modal-inner{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.modal#loading{
    display: block;
    background: url("../imgs/bg.jpg") center center no-repeat;
    background-size: cover;
    color: black;
    font-size: 0.4rem;
    z-index: 1000;
}
.modal#shareModal{
    /*display: block;*/
    z-index: 900;
    background-color: rgba(0,0,0,.8);
}
.modal#shareModal .modal-inner{
    display: flex;
}
.modal#shareModal .modal-inner #shareImg{
    width: 70%;
    margin-bottom: 10px;
}
.modal#shareModal .modal-inner span{
    color: white;
    font-size: 0.4rem;
}
.modal#shareModal .modal-inner #close{
    width: 1rem;
    margin-top: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

#logos.page{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0.5rem;
    box-sizing: border-box;
    position: relative;
}
#logos.page img{
    width: 28%;
}
#logos.page img:not(#back){
    box-shadow: 0 0 12px 3px rgba(0,0,0,.3);
}
#back{
    transform: rotate(90deg);
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#arrow{
    position: absolute;
    right: 10px;
    top: 11.8rem;
    width: 1.5rem;
    animation: arrowMove 1s linear infinite;
}
@keyframes arrowMove {
    50%{
        transform: translateX(-5px);
    }
}

